<div class="container">
  
  <a href="javascript:void(0)"  [matMenuTriggerFor]="menu1" 
  #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">Click Test-1</a>
      <mat-menu #menu1="matMenu" xPosition="before">
        <div class="row" (mouseleave)="menuTrigger.closeMenu()">
            <div class="row rounded-0 m-0 shadow-sm" style="background-color: aliceblue;">
              <div class="col-lg-7 col-xl-8">
                <div class="p-4">
                  <div class="row">
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 mb-4">
                      <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                      <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
         

        </div>
      </mat-menu>

      <a href="javascript:void(0)"  [matMenuTriggerFor]="menu2" 
      #menuTrigger2="matMenuTrigger" (mouseover)="menuTrigger2.openMenu()">Click Test-2</a>
          <mat-menu #menu2="matMenu" xPosition="before">
            <div class="row" (mouseleave)="menuTrigger2.closeMenu()">
                <div class="row rounded-0 m-0 shadow-sm" style="background-color:aquamarine;">
                  <div class="col-lg-7 col-xl-8">
                    <div class="p-4">
                      <div class="row">
                        <div class="col-lg-6 mb-4">
                          <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                          <ul class="list-unstyled">
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0">Unique Features</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-6 mb-4">
                          <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                          <ul class="list-unstyled">
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-6 mb-4">
                          <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                          <ul class="list-unstyled">
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                          </ul>
                        </div>
                        <div class="col-lg-6 mb-4">
                          <h6 class="font-weight-bold text-uppercase">MegaMenu heading</h6>
                          <ul class="list-unstyled">
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Unique Features</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Image Responsive</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Auto Carousel</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Newsletter Form</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </div>
             
    
            </div>
          </mat-menu>

    </div>
   
   